<div class="about-me text-center" id="about-me" data-aos="fade-right" data-aos-duration="1000">
    <h6 class="user-select-none">Saber más</h6>
    <h3 class="user-select-none">Acerca de mi</h3>
    <div class="about-me--flex d-flex flex-column flex-lg-row">
        <div class="about-me--flex--photo mx-auto mt-5 user-select-none">
            <img src="../../../assets/images/about-me.jpeg" alt="Foto sobre mi">
        </div>
        <div class="about-me--flex--info d-flex flex-column align-items-center align-items-lg-start mt-5">
            <div class="about-me--flex--info--types d-flex flex-row flex-wrap flex-xl-nowrap justify-content-center">
                <div class="about-me--flex--info--types--type d-flex flex-column">
                    <em class="fa-solid fa-award"></em>
                    <span class="fw-bold mb-2 user-select-none">Experiencia</span>
                    <p class="w-100 user-select-none">1 Año trabajando</p>
                </div>
                <div class="about-me--flex--info--types--type d-flex flex-column">
                    <em class="fa-solid fa-folder-open"></em>
                    <span class="fw-bold mb-2 user-select-none">Proyectos</span>
                    <p class="w-100 user-select-none">50+ terminados</p>
                </div>
                <div class="about-me--flex--info--types--type d-flex flex-column">
                    <em class="fa-solid fa-clock"></em>
                    <span class="fw-bold mb-2 user-select-none">Horas</span>
                    <p class="w-100 user-select-none">1000+ programando</p>
                </div>
            </div>
            <p class="about-me--flex--info--text text-start mt-4 user-select-none">
                Soy una persona activa, comprometida y organizada. He trabajado en varios proyectos en equipo, me encanta aportar
                y recibir ideas para consegur los objetivos marcados, aunque trabajar solo me produce una gran satisfacción por el logro
                personal. Mi objetivo es seguir aprendiendo y crecer como profesional en un ámbito que evoluciona tan rápdido.
            </p>
            <a mat-button class="py-1 px-3 mt-4" href="#contact-me">
                Charlemos
            </a>
        </div>
    </div>
</div>
