<div class="about-me text-center">
    <h6 class="user-select-none">Saber más</h6>
    <h3 class="user-select-none">Acerca de mi</h3>
    <div class="about-me--flex d-flex flex-column flex-lg-row">
        <div class="about-me--flex--photo mx-auto mt-5 user-select-none">
            <img src="../../../assets/images/me-about.jpg" alt="Foto sobre mi">
        </div>
        <div class="about-me--flex--info d-flex flex-column align-items-center align-items-lg-start mt-5">
            <div class="about-me--flex--info--types d-flex flex-row flex-wrap flex-lg-nowrap justify-content-center">
                <div class="about-me--flex--info--types--type d-flex flex-column">
                    <em class="fa-solid fa-award"></em>
                    <span class="fw-bold mb-2 user-select-none">Experiencia</span>
                    <p class="w-100 user-select-none">1 Año trabajando</p>
                </div>
                <div class="about-me--flex--info--types--type d-flex flex-column">
                    <em class="fa-solid fa-folder-open"></em>
                    <span class="fw-bold mb-2 user-select-none">Proyectos</span>
                    <p class="w-100 user-select-none">50+ terminados</p>
                </div>
                <div class="about-me--flex--info--types--type d-flex flex-column">
                    <em class="fa-solid fa-clock"></em>
                    <span class="fw-bold mb-2 user-select-none">Horas</span>
                    <p class="w-100 user-select-none">1000+ programando</p>
                </div>
            </div>
            <p class="about-me--flex--info--text text-start mt-4 user-select-none">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A, reprehenderit. Commodi recusandae iure reiciendis fugiat voluptatum numquam deleniti ad animi repellat unde, voluptates accusantium, necessitatibus odio cum esse repellendus laboriosam?
            </p>
            <button mat-button class="py-1 px-3 mt-4">
                Charlemos
            </button>
        </div>
    </div>
</div>
