<div class="portfolio text-center" id="portfolio" data-aos="fade-up" data-aos-duration="1000">
    <h6 class="user-select-none">Mi trabajo reciente </h6>
    <h3 class="user-select-none">Portfolio</h3>
    <div class="portfolio--cards d-flex flex-row justify-content-center flex-wrap px-5 mt-4">
        <div class="portfolio--cards--card card p-3 user-select-none">
            <img src="../../../assets/images/portfolio--1.png" class="portfolio--cards--card--img--top card-img-top mb-3" alt="Imagen del portfolio">
            <div class="portfolio--cards--card--body mt-2">
              <h5 class="portfolio--cards--card--title text-start">Aplicación web junto con red social y sección de administración.</h5>
              <div class="portfolio--cards--card--buttons my-3 d-flex flex-row">
                  <a mat-button href="https://github.com/Avantifer/Muevete" target="_blank" class="portfolio--cards--card--buttons--button">Github</a>
                  <a mat-button href="https://muevete-fernando.web.app/login" target="_blank" class="portfolio--cards--card--buttons--button" >Live Demo</a>
              </div>
            </div>
        </div>
        <div class="portfolio--cards--card card p-3 user-select-none">
            <img src="../../../assets/images/portfolio--2.png" class="portfolio--cards--card--img--top card-img-top mb-3" alt="Imagen del portfolio">
            <div class="portfolio--cards--card--body mt-2">
              <h5 class="portfolio--cards--card--title text-start">Página web con la meteorología de los siguientes 5 días.</h5>
              <div class="portfolio--cards--card--buttons my-3 d-flex flex-row">
                  <a mat-button href="https://github.com/Avantifer/Proyectos/tree/master/27.-%20Vigesimoseptimo%20Proyecto%20(Weather-app)" target="_blank" class="portfolio--cards--card--buttons--button">Github</a>
                  <a mat-button href="https://weather-fernando.web.app/" target="_blank" class="portfolio--cards--card--buttons--button">Live Demo</a>
              </div>
            </div>
        </div>
        <div class="portfolio--cards--card card p-3 user-select-none">
          <img src="../../../assets/images/portfolio--3.png" class="portfolio--cards--card--img--top card-img-top mb-3" alt="Imagen del portfolio">
            <div class="portfolio--cards--card--body mt-2">
              <h5 class="portfolio--cards--card--title text-start">Aplicación web de página de citas (Actualmente en progreso).</h5>
              <div class="portfolio--cards--card--buttons my-3 d-flex flex-row">
                  <a mat-button href="https://github.com/Avantifer/Dating-App-Python" target="_blank" class="portfolio--cards--card--buttons--button">Github</a>
                  <a mat-button href="https://datingapp-fernando.web.app/home" target="_blank" class="portfolio--cards--card--buttons--button">Live Demo</a>
              </div>
            </div>
        </div>
    </div>
</div>