<div class="footer text-center pt-5">
    <h2 class="fw-bold">Fernando Ruiz</h2>
    <div class="footer--links d-flex flex-column flex-sm-row align-items-center justify-content-evenly w-50 mx-auto  mt-5">
        <a href="#about-me" class="mb-3 mb-sm-0">Casa</a>
        <a href="#header" class="mb-3 mb-sm-0">Sobre mí</a>
        <a href="#experience" class="mb-3 mb-sm-0">Experiencia</a>
        <a href="#portfolio" class="mb-3 mb-sm-0">Portfolio</a>
        <a href="#contact-me">Háblame</a>
    </div>
</div>
