<div class="bottom-nav d-flex px-2 px-sm-3 rounded-pill position-fixed">
  <a class="bottom-nav--part mx-1 mx-sm-2 rounded-circle position-relative" role="button" href="#" (click)="selectPart($event.target)">
    <em class="fas fa-home icon position-absolute"></em>
  </a>
  <a class="bottom-nav--part mx-1 mx-sm-2 rounded-circle position-relative" role="button" href="#" (click)="selectPart($event.target)">
    <em class="fas fa-user icon position-absolute"></em>
  </a>
  <a class="bottom-nav--part mx-1 mx-sm-2 rounded-circle position-relative" role="button" href="#" (click)="selectPart($event.target)">
    <em class="fas fa-book icon position-absolute"></em>
  </a>
  <a class="bottom-nav--part mx-1 mx-sm-2 rounded-circle position-relative" role="button" href="#" (click)="selectPart($event.target)">
    <em class="fas fa-handshake icon position-absolute"></em>
  </a>
  <a class="bottom-nav--part mx-1 mx-sm-2 rounded-circle position-relative" role="button" href="#" (click)="selectPart($event.target)">
    <em class="fas fa-comment-dots icon position-absolute"></em>
  </a>
</div>
