<div class="bottom-nav d-flex px-2 px-sm-3 rounded-pill position-fixed">
  <a class="bottom-nav--part mx-1 mx-sm-2 rounded-circle" role="button" href="#" (click)="selectPart($event.target)">
    <mat-icon class="icon">home</mat-icon>
  </a>
  <a class="bottom-nav--part mx-1 mx-sm-2 rounded-circle" role="button" href="#" (click)="selectPart($event.target)">
    <mat-icon class="icon">people</mat-icon>
  </a>
  <a class="bottom-nav--part mx-1 mx-sm-2 rounded-circle" role="button" href="#" (click)="selectPart($event.target)">
    <mat-icon class="icon">menu_book</mat-icon>
  </a>
  <a class="bottom-nav--part mx-1 mx-sm-2 rounded-circle" role="button" href="#" (click)="selectPart($event.target)">
    <mat-icon class="icon">handshake</mat-icon>
  </a>
  <a class="bottom-nav--part mx-1 mx-sm-2 rounded-circle" role="button" href="#" (click)="selectPart($event.target)">
    <mat-icon class="icon">chat</mat-icon>
  </a>
</div>
