@import "../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

.bottom-nav {
	width: fit-content;
	background: rgba( 19, 30, 49, 0.45 );
	backdrop-filter: blur( 8px );
	-webkit-backdrop-filter: blur( 8px );
	z-index: 1000;
	bottom: 3rem;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.75rem 0;

  &--part {
    padding: 0.75rem 1rem;
		color: white;

		&.selected {
			background-color: rgb(22, 22, 22);
		}

    &:hover {
			background-color: rgba(22, 22, 22, 0.6);
    }
  }
}

@include media-breakpoint-down(sm) {
	.bottom-nav--part {
		padding: 0.5rem 0.75rem !important;
	}
}