<div class="text-center mb-4" id="experience">
    <h6 class="user-select-none">Que habilidades tengo</h6>
    <h3 class="user-select-none">Mi Experiencia</h3>
</div>
<div class="skills d-flex flex-column flex-xl-row justify-content-center align-items-center align-items-xl-stretch">
    <div class="skills--front text-center">
        <span class="user-select-none">Habilidades Frontend</span>
        <div class="skills--front--row mt-3 d-flex flex-column flex-sm-row justify-content-center user-select-none">
            <div class="skills--front--row--column d-flex flex-column">
                <div class="skills--front--row--column--skill d-flex flex-row mt-4">
                    <em class="fa-solid fa-circle-check me-3"></em>
                    <div class="skills--front--skill--info d-flex flex-column">
                        <h6 class="text-start mb-1">HTML</h6>
                        <p class="text-start">Experimentado</p>
                    </div>
                </div>
                <div class="skills--front--row--column--skill d-flex flex-row mt-4">
                    <em class="fa-solid fa-circle-check me-3"></em>
                    <div class="skills--front--skill--info d-flex flex-column">
                        <h6 class="text-start mb-1">JavaScript</h6>
                        <p class="text-start">Intermedio</p>
                    </div>
                </div>
                <div class="skills--front--row--column--skill d-flex flex-row mt-4">
                    <em class="fa-solid fa-circle-check me-3"></em>
                    <div class="skills--front--skill--info d-flex flex-column">
                        <h6 class="text-start mb-1">TypeScript</h6>
                        <p class="text-start">Intermedio</p>
                    </div>
                </div>
                <div class="skills--front--row--column--skill d-flex flex-row mt-4">
                    <em class="fa-solid fa-circle-check me-3"></em>
                    <div class="skills--front--skill--info d-flex flex-column">
                        <h6 class="text-start mb-1">Angular</h6>
                        <p class="text-start">Experimentado</p>
                    </div>
                </div>
            </div>
            <div class="skills--front--row--column d-flex flex-column">
                <div class="skills--front--row--column--skill d-flex flex-row mt-4">
                    <em class="fa-solid fa-circle-check me-3"></em>
                    <div class="skills--front--skill--info d-flex flex-column">
                        <h6 class="text-start mb-1">CSS/SCSS</h6>
                        <p class="text-start">Experimentado</p>
                    </div>
                </div>
                <div class="skills--front--row--column--skill d-flex flex-row mt-4">
                    <em class="fa-solid fa-circle-check me-3"></em>
                    <div class="skills--front--skill--info d-flex flex-column">
                        <h6 class="text-start mb-1">SASS</h6>
                        <p class="text-start">Básico</p>
                    </div>
                </div>
                <div class="skills--front--row--column--skill d-flex flex-row mt-4">
                    <em class="fa-solid fa-circle-check me-3"></em>
                    <div class="skills--front--skill--info d-flex flex-column">
                        <h6 class="text-start mb-1">Bootstrap</h6>
                        <p class="text-start">Experimentado</p>
                    </div>
                </div>
                <div class="skills--front--row--column--skill d-flex flex-row mt-4">
                    <em class="fa-solid fa-circle-check me-3"></em>
                    <div class="skills--front--skill--info d-flex flex-column">
                        <h6 class="text-start mb-1">Ionic</h6>
                        <p class="text-start">Experimentado</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="skills--back text-center">
        <span class="user-select-none">Habilidades backend</span>
        <div class="skills--back--row mt-3 d-flex flex-column flex-sm-row justify-content-center user-select-none">
            <div class="skills--back--row--column d-flex flex-column">
                <div class="skills--back--row--column--skill d-flex flex-row mt-4">
                    <em class="fa-solid fa-circle-check me-3"></em>
                    <div class="skills--back--skill--info d-flex flex-column">
                        <h6 class="text-start mb-1">Python</h6>
                        <p class="text-start">Intermedio</p>
                    </div>
                </div>
                <div class="skills--back--row--column--skill d-flex flex-row mt-4">
                    <em class="fa-solid fa-circle-check me-3"></em>
                    <div class="skills--back--skill--info d-flex flex-column">
                        <h6 class="text-start mb-1">Java</h6>
                        <p class="text-start">Intermedio</p>
                    </div>
                </div>
                <div class="skills--back--row--column--skill d-flex flex-row mt-4">
                    <em class="fa-solid fa-circle-check me-3"></em>
                    <div class="skills--back--skill--info d-flex flex-column">
                        <h6 class="text-start mb-1">PHP</h6>
                        <p class="text-start">Básico</p>
                    </div>
                </div>
            </div>
            <div class="skills--back--row--column d-flex flex-column">
                <div class="skills--back--row--column--skill d-flex flex-row mt-4">
                    <em class="fa-solid fa-circle-check me-3"></em>
                    <div class="skills--back--skill--info d-flex flex-column">
                        <h6 class="text-start mb-1">MySQL</h6>
                        <p class="text-start">Experimentado</p>
                    </div>
                </div>
                <div class="skills--back--row--column--skill d-flex flex-row mt-4">
                    <em class="fa-solid fa-circle-check me-3"></em>
                    <div class="skills--back--skill--info d-flex flex-column">
                        <h6 class="text-start mb-1">MongoDB</h6>
                        <p class="text-start">Intermedio</p>
                    </div>
                </div>
                <div class="skills--back--row--column--skill d-flex flex-row mt-4">
                    <em class="fa-solid fa-circle-check me-3"></em>
                    <div class="skills--back--skill--info d-flex flex-column">
                        <h6 class="text-start mb-1">Firebase</h6>
                        <p class="text-start">Intermedio</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
